@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}
.addBtn{
    transition: all 0.5s ease;
    transform:  translateY(100%);
    opacity: 0;
}
.productDiv:hover .addBtn{
    opacity: 1;
    transform: translateY(0%);
}